@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;900&display=swap');

body { font-family: 'Poppins', sans-serif !important; margin: 0 auto;}

header h1 { background-image: url('https://grapefruitgames.com/images/Logo.png');
background-repeat: no-repeat; background-size: 64px; 
padding-left: 72px; font-size: 64px !important; line-height: 1em !important; text-transform: uppercase; color: #99AA33; display: block; }

hr { padding: 0; margin: 64px; }

.youtube {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

.youtube iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.tryhard { font-family: 'Nunito', sans-serif !important; color: white; font-size: 20px; margin: 0; padding: 16px 0 25% 0;
        background-color: #1486fe; 
        background-image: url("https://grapefruitgames.com/tryhard/images/tryhard_footer.png");
        background-position: center bottom;
        background-size: contain;
        background-repeat: no-repeat;
}
.tryhard a { color: #FEDE57; font-weight: bold; text-decoration: underline;}
.tryhard h1 { text-align: center; font-size: 60px !important; text-transform: uppercase; color: #FEDE57; display: block; 
  font-weight: 900; 
  font-style: italic;  
  text-shadow:
    3px 3px 0 #000,
    -3px 3px 0 #000,
    -3px -3px 0 #000,
    3px -3px 0 #000;
}
.tryhard h2 a { 
  color: white !important; 
  font-style: italic;
  font-weight: normal !important; 
  text-decoration: underline dotted #eeeeff !important; 
}
.tryhard h3 { font-weight: 900; }
.tryhard li { line-height: 1.5em; }

input {
  background-color: #1b2838;
  color: #FEDE57;
  border: 2px solid black;
  padding: 10px;
  border-radius: 12px;
  font-weight: bold;
}

.steambutton {
  display: block;
  font-size: 30px;
  background-color: #1b2838;
  color: #FEDE57;
  border: 4px solid black;
  padding: 20px;
  border-radius: 24px;
  background-image: url("https://grapefruitgames.com/tryhard/images/steam.png");
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  text-decoration: none !important;
  text-shadow:
    3px 3px 0 #000,
    -3px 3px 0 #000,
    -3px -3px 0 #000,
    3px -3px 0 #000;
}

.steambutton:hover {
  background-color: #224477;
  color: white;
}

.sportsrealism {
  font-size: 24px !important;
  color: white !important;
  text-shadow: 2px 2px 4px black;
}

.sportsrealism header h1 {
  background-image: none !important;
  padding: 0 !important;
  color: green !important;
}

.sportsrealism h2 {
  font-size: 48px !important;
}

.sportsrealism a {
  font-weight: bold !important;
  color: yellow;
}

.sportsrealism a:hover {
  color: white;
}

#background-video {
   width: 100vw;
   height: 100vh;
   object-fit: cover;
   position: fixed;
   left: 0;
   right: 0;
   top: 0;
   bottom: 0;
   z-index: -1;
    -o-filter: blur(2px);
    filter: blur(2px);
}
