<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content tryhard" aria-label="Content">
      <div class="wrapper">
        {{ content }}
        
        <br /><p style="text-align: center;"><a href="mailto:tryhard@grapefruitgames.com">tryhard@grapefruitgames.com</a></p><br />
        <a href="https://grapefruitgames.com" target="_blank" title="a game by Grapefruit Games"><img width="50%" height="65%" style="margin: 0 auto;" src="../images/LogoName.png" alt="a game by Grapefruit Games"/></a> &nbsp; &nbsp; <a href="https://www.nz-code.nz/" target="_blank" title="made with support from CODE NZ"><img width="40%" height="40%" style="margin: 0 auto;" src="images/code_logo.webp" alt="made with support from CODE NZ"/></a>
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
